$bg-card: #1b1b1d;
$bg-card-hover: #232327;
$text-color: #fff;
.rating {
  display: inline-block;
  background: #222;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
  color: gold;
  margin-top: 5px;
}




.game-card a {
  text-decoration: none; /* убирает подчёркивание */
  color: inherit;        /* оставляет цвет как у текста */
}

.game-card a:hover h3 {
  text-decoration: none; /* даже при наведении не подчёркивает */
}

.HomePage {
  max-width: 1600px;
  margin: 0 auto;
  padding: 30px;
  // ====== СЕТКА ======
.game-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

// ====== КАРТОЧКА ИГРЫ ======
.game-card {
  padding: 12px;
  transition: 0.2s all ease;

  &:hover {
    background: $bg-card-hover;
    transform: translateY(-4px);
  }

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;

    
  }
  h3 {
    margin: 10px 0 5px 0;
    font-size: 18px;
  }
  p {
    opacity: 0.7;
  }
}
  }

