// ====== ПЕРЕМЕННЫЕ ======
$bg-card: #1b1b1d;
$bg-card-hover: #232327;
$text-color: #fff;
$radius: 12px;

// ====== ГЛОБАЛ ======
body {
  background-color: #0f0f10;
  color: $text-color;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0px 20px;
}


.search {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 0 auto 30px auto;

  input {
    width: 100%;
    padding: 14px 50px 14px 16px;
    border-radius: 12px;
    border: none;
    background: #1b1b1d;
    color: #fff;
    font-size: 16px;

    &:focus {
      outline: 2px solid #3a3af0;
    }
  }
  .search-bar {
    display: flex;
    
  }
   button {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    height: 34px;
    padding: 0 14px;
    border: none;
    border-radius: 8px;
    background: #3f51b5;
    color: white;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #5c6bc0;
    }
}
}
