// ====== ПЕРЕМЕННЫЕ ======
$bg-card: #1b1b1d;
$bg-card-hover: #232327;
$text-color: #fff;
$radius: 12px;

// ====== ГЛОБАЛ ======
body {
  background-color: #0f0f10;
  color: $text-color;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0px;
}

// ====== СЕТКА ======
.game-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

// ====== КАРТОЧКА ИГРЫ ======
.game-card {
  background: $bg-card;
  padding: 12px;
  border-radius: $radius;
  transition: 0.2s all ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  &:hover {
    background: $bg-card-hover;
    transform: translateY(-4px);
  }

  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: $radius;
  }

  h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  p {
    opacity: 0.7;
  }
}
.search {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 0 auto 30px auto;

  input {
    width: 100%;
    padding: 14px 50px 14px 16px;
    border-radius: 12px;
    border: none;
    background: #1b1b1d;
    color: #fff;
    font-size: 16px;

    &:focus {
      outline: 2px solid #3a3af0;
    }
  }
  .search-bar {
    display: flex;
    
  }
   button {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    height: 34px;
    padding: 0 14px;
    border: none;
    border-radius: 8px;
    background: #3f51b5;
    color: white;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: #5c6bc0;
    }
}
}
.game-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;

  h1 {
    margin-bottom: 10px;
  }
  .GameTitle {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

      img {
        width: 310px; /* уменьшенная ширина изображения */
        height: 410px; /* при необходимости скорректируйте высоту */
        object-fit: cover;
        border-radius: 8px;
        display: block;
        margin: 0;
      }

    .info {
      h2 {
        margin: 0 0 10px 0;
      }
      p {
        margin: 4px 0;
      }
    }
  }
  .screenshots {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    img {
      width: 100%;
      border-radius: 12px;
    }
  }

  .videos {
    margin-top: 20px;

    video {
      margin-bottom: 20px;
      border-radius: 12px;
    }
  }
}
