$bg-card: #1b1b1d;
$bg-card-hover: #232327;
$text-color: #fff;
$radius: 12px;


.SearchGamePage {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  // ====== СЕТКА ======
.game-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

// ====== КАРТОЧКА ИГРЫ ======
.game-card {
  background: $bg-card;
  padding: 12px;
  border-radius: $radius;
  transition: 0.2s all ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  &:hover {
    background: $bg-card-hover;
    transform: translateY(-4px);
  }

  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: $radius;
  }

  h3 {
    font-size: 18px;
    margin-top: 10px;
  }

  p {
    opacity: 0.7;
  }
}
  }

